Content/Assets/
Intermediate/
Saved/
Binaries/
.idea/
.vs/
Content/ParagonGideon/
Content/ParagonKallari/
Content/Assassin/
Content/EssentialAnimation/
Content/ParagonCrunch/
Content/Arena
Content/TrailPack
Content/MegaMagicVFXBundle
Content/CharacterOverlay
Content/StartContent
/Content/Shooter_VFXPack
